@import url('https://fonts.googleapis.com/css2?family=ABeeZee:ital@0;1&family=Kalnia:wght@100..700&display=swap');

body {
    font-family: 'Kalnia', sans-serif;
    margin: 0;
    padding: 0;
}

/* header */

.navbar {
    background-color: #0C091A;
    height: 6rem;
}

.search-button {
    color: #BF2604;
    background-color: #FFF;
}

.account {
    color: #FFF;
}

.login a {
    color: #FFF;
}

.user-icon, .basket-icon {
    color: #BF2604;
}

.navlink li a{
    color: #0C091A;
}

.navlink li a:hover {
    color: #BF2604;
}


/* section */

section {
    font-family: 'AbeeZee', sans-serif;
}

.col-3, .col-9 {
    padding: 20px;
}

h1 {
    font-weight: bold;
    color: #0C091A;
    font-size: 32px;
}

.col-3 h1 {
    text-align: left;
    font-size: 20px;
    color: #333;
    margin-top: 0.5rem;
}

.priceFilter {
    margin-top: 2rem;
}

.container.emailCapture {
    border-radius: 10px;
    background-color: #D9D9D9;
    padding: 0.8rem 0 0 0;
}

.form-check {
    text-align: left !important;
}

.form-check-label {
    font-size: 16px;
    color: #0C091A;
    padding-left: 0.5rem;
}

.form-check-input {
    border-color: #0C091A;
}

form input#inputEmail {
    border-radius: 50px;
    border-color: #0C091A;
}

form button.emailButton {
    background-color: #FF6600;
    color: white;
    border: none;
    padding: 10px 15px;
    border-radius: 50px;
    cursor: pointer;
}

.col-9 h1 {
    font-size: 32px;
    font-weight: bold;
    text-align: left;
    margin-bottom: 20px;
}

.container .col {
    margin-right: -1rem;
}

.container .row:first-child {
    padding: 15px;
    margin-bottom: 20px;
    border-radius: 10px;
    color: #0C091A;
}

.container .row:first-child p {
    margin: 0;
    color: #0C091A;
}

.card {
    border: 1px solid #D9D9D9;
    margin-bottom: 10px;
    transition: transform 0.2s;
}

.card:hover {
    transform: scale(1.05);
}

.card img {
    border-radius: 10px;
    max-height: 250px;
    object-fit: cover;
    padding: 10px;
}

.card-body {
    text-align: left;
}

.card-title {
    font-size: 16px;
    font-weight: bold;
    color: #000;
    margin-bottom: 15px;
}

.card-text {
    font-size: 14px;
    color: #000;
    margin-bottom: 10px;
}

.card-text b {
    color: #BF2604;
}

.card a {
    background-color: #008B25;
    color: #000;
    padding: 5px 15px;
    border-radius: 10px;
    text-decoration: none;
    font-weight: bold;
    margin-top: 1rem;
}

.card a:hover {
    background-color: #00AA00;
    color: #000;
}


/* footer */

footer {
    font-family: 'AbeeZee', sans-serif;
    color: #FFF;
    background-color: #0C091A;
    padding: 2rem 0;
    margin: 0;
}

.container-mlg {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0;
}

.row {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.col-sm {
    flex: 1;
    min-width: 250px;
    margin: 1rem;
    text-align: left;
    margin-top: 4rem;
}

.col-sm img {
    max-width: 80%;
    height: auto;
    margin-top: -2rem;
    margin-bottom: 2rem;
}

footer h1 {
    font-size: 1.6rem;
    margin-bottom: 1rem;
    color: #BF2604;
}

ul {
    list-style: none;
    padding: 0;
}

ul li {
    margin: 0.6rem 0;
}

ul li a {
    color: white;
    text-decoration: none;
}

footer ul li a:hover {
    text-decoration: underline;
    color: #BF2604;
}

.list-inline-item i {
    font-size: 2rem;
}

.form-label {
    color: white;
}

.btn-primary {
    background-color: #BF2604;
    border: none;
}

.btn-primary:hover {
    background-color: #a32a02;
}

/* scroll-bar*/

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: #0C091A; 
}
 
::-webkit-scrollbar-thumb {
  background: #BF2604; 
}
